@import "../../assets/css/variaveis";
$mq-mobile: "(max-width: 540px)";

h1 {
  font-size: 40px;
  font-weight: bold;
  color: $corAzulPortal;
}

.banner-home {
  background: linear-gradient(90deg,
          rgba(255, 255, 255, 0.9) 0%,
          rgba(255, 255, 255, 0.9) 33.83%,
          rgba(255, 255, 255, 0.2) 64.77%,
          rgba(255, 255, 255, 0.324) 92.11%),
  url("../../assets/img/banner-home.png");

  color: $corPretoPortal;
  height: 490px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top right;

  @media #{$mq-mobile} {
    background: url("../../assets/img/banner-home-mobile.png");
    height: 627px;
    background-size: cover;
    background-position: bottom center;
  }


  .conteudo {

    margin: 0 auto;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    @media #{$mq-mobile} {
      top: 26%;
    }

    h1 {
      color: $corPretoPortal;

      @media #{$mq-mobile} {
        font-size: 30px;
      }

    }

    p {
      font-size: 20px;
      line-height: 26px;
      font-style: normal;
      font-weight: bold;

      @media #{$mq-mobile} {
        font-size: 16px;
        line-height: normal;
      }

    }
  }
}

.lista-home {
  list-style-position: inside;

  li {
    list-style-type: none;
  }

  li:before {
    content: "•";
    color: $corAzulPortal;
    font-size: 50px;
    margin-right: 10px;
    vertical-align: middle;
    line-height: 0.8em;
  }

}